* {
    font-family: Verdana, sans-serif;
  }
body {
    justify-content: center;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
h1 {
    font-family: Georgia, serif;
    color: #333;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border: 1px solid #ddd;
    justify-content: left;
}
td {
    padding: 5px; 
    text-align: center; 
    border: 1px solid black;
    text-align: left;
}
.problem {
    font-size: 1.5em;
    margin: 20px;
}
.input-container {
    margin: 20px;
}
.input-box {
    margin: 5px;
    width: 80px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}
.button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
.button-hint {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-hint:hover {
    background-color: #FF0000;
}
.feedback {
    font-size: 1.2em;
    margin: 20px;
}

.sanity {
    font-size: 1.2em;
    margin: auto;
    font-style: italic;
    width: 70%;
    padding: 10px;
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}

#feedback-bar {
  width: 80%;
  height: 50px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

.bar-segment {
  flex: 1;
  height: 100%;
}

.indicator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: black;
}

.red {
  background-color: #fff;
}

.light-green {
  background-color: #999;
}

.medium-green {
  background-color: #88ee88;
}

.bright-green {
  background-color: #00ee00;
}

.label {
  position: absolute;
  top: -20px;
  font-size: 0.9em;
  background: white;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}