* {
    font-family: Verdana, sans-serif;
  }
body {
    justify-content: center;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}
h1 {
    font-family: Georgia, serif;
    color: #333;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: white;
    border: 1px solid #ddd;
    justify-content: left;
}
td {
    padding: 5px; 
    text-align: center; 
}
.table-break {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: white;
    justify-content: left;
    border-bottom: 3px;
}
.prefix-table { 
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    background-color: white;
    justify-content: left;
}

#answer {
    font-size: 2em;
    margin: 20px;
}
#problem {
    font-size: 1.5em;
    margin: 20px;
}
.input-container {
    margin: 20px;
}
.input-box {
    margin: 5px;
    width: 80px;
    padding: 5px;
    font-size: 1em;
    text-align: center;
}
.button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: teal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover {
    background-color: blue;
}
.button-hint {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-hint:hover {
    background-color: #FF0000;
}
.feedback {
    font-size: 1.2em;
    margin: 20px;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #ccc;
}
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.content {
  padding: 18px 0;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 70%;
  margin: auto;
}
#presanity {
    width: 70%; 
    line-height: 2;
    background-color: #f1f1f1;
}

.correct {
    color: green;
}
.incorrect {
    color: red;
}
#prefix-table {
    border: none;
}
.prefix-row {
  background-color: #eee;
  color: #444;
  padding: 18px;
  width: 70%;
  text-align: center;
  outline: none;
  font-size: 15px;
  border: none;
}
.prefix-row:nth-child(even) {
    background-color: #f2f2f2; /* Light grey for even rows */
}

.prefix-row:nth-child(odd) {
    background-color: #ffffff; /* White for odd rows */
}
.active, .prefix-row:hover {
  background-color: #ccc;
}

#feedback-bar {
  width: 80%;
  height: 50px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

.bar-segment {
  flex: 1;
  height: 100%;
}

.indicator {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: black;
}

.red {
  background-color: #fff;
  flex: 1.15;
}

.light-green {
  background-color: #999;
}

.medium-green {
  background-color: #88ee88;
  flex: 0.5;
}

.bright-green {
  background-color: #00ee00;
}

.label {
  position: absolute;
  top: -20px;
  font-size: 0.9em;
  background: white;
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}